.NavBar a,
.NavBar button {
  margin: 0 5px;
  color: black;
  text-decoration: none;
}

.NavBar {
  margin-bottom: 20px;
  color: black;
}
body {
  background-color: white;
  text-align: center;
}
.s-title {
  color: #233c66;
}
#quote {
  padding: 15px 0px;
}

.wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  grid-gap: 50px;
  padding: 20px;
}

.card-title {
  text-align: center;
}
.explore-button {
  margin-left: 35%;
  background-color: #233c66;
  color: white;
}
.card-body {
  background-color: #414345;
}

.card-text {
  color: white;
}
.card-title {
  color: white;
}
#description {
  text-align: center;
  color: black;
  margin-top: 30px;
  padding-right: 30px;
  padding-left: 30px;
}
.productCard {
  background-color: #555;
}
.productCard-body {
  color: white;
  text-align: center;
  padding-top: 10px 5px 15px;
  height: 350px;
}
.productDescription {
  padding-right: 3px;
  padding-left: 3px;
}
.price {
  text-align: center;
  color: white;
  padding-bottom: 10px;
}
.pbtn {
  margin-left: 18px;
  margin-bottom: 60px;
  background-color: #233c66;
  padding: 5px;
  border-radius: 15%;
  color: white;
}
.explore-button {
  margin-left: 10px;
  background-color: #233c66;
  color: white;
  border: none;
}
.signup-button {
  background-color: #233c66;
  color: white;
  border: none;
}
/* footer */
#flexbox {
  margin-top: 9em;
}

.footer-bar {
  background-color: #555;

  bottom: 0px;
  width: 100%;
}
.footer-title {
  color: white;
  font-size: 20px;
  text-align: center;
}
.social-icon {
  padding-bottom: 15px;
}
#snap {
  margin-left: 60px;
}
